<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/animate.css">
  <link rel="stylesheet" href="../css/hover-min.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../fontawesome-free-5.6.0-web/css/all.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/index_style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body style="height:100%;" class="">

  <nav style="display: flex" class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand ml-5 pl-5" href="/"><img src="../images/logo.png" alt="" style="height:40px;width:150px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc1" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc2" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc3" href="/services">Service <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc4" href="/appointment">Appointmnet <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc5" href="/doctors">Doctors <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc6" href="/department">Department <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc7" href="/blog">Blog <span class="sr-only">(current)</span></a>
        </li>

        <img src="../images/doc1.png" style="height:50px;width:40px;border-radius: 50px;border:1px #a1a0a0;" alt="">
        <li class="nav-item active navbar-items">
          <a href="/profile" style="font-weight:bold;font-size:14px;" class="nav-link mr-3 sc8">
            <%= data.recordsets[1][0].first_name %>
            <%= data.recordsets[1][0].last_name %><span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </nav>



  <div class="left-side pt-5 ">
    <div class="row pt-5 ">
      <div style="height:100%;border-right: 1px solid #c7c7c7;" class="col-3 pt-5">
        <div style="" class="container-fluid pl-5">
          <img style="height:250px;" class="img-fluid" src="../images/doc1.png" alt="">
          <div class="doc-txt text-center w-75">
            <h5>
              <%= data.recordsets[1][0].first_name %>
              <%= data.recordsets[1][0].last_name %>
            </h5>
          </div>
        </div>



        <!-- ----------------------------- دي زراير التحكم ع اليمين ---------------------------- -->
        <div style="" class="nav flex-column nav-pills w-50 pt-4 ml-5 text-center" id="v-pills-tab" role="tablist"
          aria-orientation="vertical">
          <a onclick="myFunction1(this)" class="btn btn-primary mb-3" href="/profile">Info</a>
          <a class="btn btn-primary mb-3" id="adminDoctor" href="/profile/doctors">Doctors</a>
          <a class="btn btn-primary mb-3" id="adminNurse" href="/profile/Nurses">Nurses</a>
          <a class="btn btn-primary mb-3" id="adminRooms" href="/profile/rooms">Rooms</a>
          <button class="btn btn-primary mb-3" id="adminWardBoys" disabled href="/profile/wardboys">Ward Boys</button>
          <form method="GET" action="/login"><button style="border:none !important;" type="submit" class="btn btn-danger mb3 px-5">Log
              Out</button></form>
        </div>
        <!-- --------------------------------------------------------------------------------- -->


      </div>


      <div class="col-md-9">

        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <form onsubmit="return validateForm()" name="register-form" class="form-app form-control my-2" method="POST"
              action="/profile/add_doctor">
              <h3 style="font-weight:bold;" class="pt-4">Add a New Ward Boy </h3>
              <div style="height:2px;background-color:#207fdd;width:10%;" class="mb-4"></div>
              <h6 style="font-size:14px;font-weight:bold;">FIRST NAME</h6>
              <input class="form-control  my-3" placeholder="Enter your first name" type="text" name="firstName">
              <h6 style="font-size:14px;font-weight:bold;">LAST NAME</h6>
              <input class="form-control  my-3" placeholder="Enter your last name" type="text" name="lastName">
              <h6 style="font-size:14px;font-weight:bold;">E-MAIL</h6>
              <input class="form-control  my-3" placeholder="Email" type="email" name="Mail">
              <h6 style="font-size:14px;font-weight:bold;">PASSWORD</h6>
              <input class="form-control  my-3" placeholder="Enter your password" type="password" name="Pass">
              <h6 style="font-size:14px;font-weight:bold;">RE-PASSWORD</h6>
              <input class="form-control  my-3" placeholder="Re-type your password" type="password" name="rePass">
              <h6 style="font-size:14px;font-weight:bold;">PHONE NUMBER</h6>
              <input placeholder="Phone" class="form-control  my-3" type="text" name="phoneNumber">
              <h6 style="font-size:14px;font-weight:bold;">ADDRESS</h6>
              <input class="form-control  my-3" placeholder="Enter your address" type="text" name="address">
              <div class="container ml-5 pl-5">
                <button style="width:30%;border-radius:20px;" class="btn btn-primary ml-4 my-3" type="submit" name="">Submit</button>
                <button type="reset" style="width:30%; border-radius:20px;border:none !important;" class="btn btn-danger ml-4 my-3">Clear</button>
              </div>
            </form>
          </div>
          <div class="col-md-2">

          </div>
        </div>

        <table style="color:#207fdd;" class="table mt-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">PhoneNumber</th>
              <th scope="col">Address</th>
              <th scope="col">Delete</th>

            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i< data.recordset.length; i++) { %>
            <tr>
              <th scope="row">
                <%= data.recordset[i].doctor_id %>
              </th>
              <td>
                <%= data.recordset[i].first_name %>
                <form scope="row" method="POST" action="/profile/edt_doctor">
                  <input style="width:60%;" class="form-control  my-3" placeholder="First Name" type="text" name="firstName">
                  <button style="width:30%;border-radius:20px;" class="btn btn-primary" type="submit" name="edit" value=" <%= data.recordset[i].doctor_id %> ">Edit</button>
                </form>
              </td>
              <td>
                <%= data.recordset[i].last_name %>
                <form scope="row" method="POST" action="/profile/edt_doctor">
                  <input style="width:60%;" class="form-control  my-3" placeholder="Last Name" type="text" name="lastName">
                  <button style="width:30%;border-radius:20px;" class="btn btn-primary" type="submit" name="edit" value=" <%= data.recordset[i].doctor_id %> ">Edit</button>
                </form>
              </td>

              <td>
                <%= data.recordset[i].phone %>
                <form scope="row" method="POST" action="/profile/edt_doctor">
                  <input style="width:60%;" class="form-control  my-3" placeholder="Phone Number" type="text" name="phoneNumber">
                  <button style="width:30%;border-radius:20px;" class="btn btn-primary" type="submit" name="edit" value=" <%= data.recordset[i].doctor_id %> ">Edit</button>
                </form>
              </td>
              <td>
                <%= data.recordset[i].address %>
                <form scope="row" method="POST" action="/profile/edt_doctor">
                  <input style="width:60%;" class="form-control  my-3" placeholder="Address" type="text" name="address">
                  <button style="width:30%;border-radius:20px;" class="btn btn-primary" type="submit" name="edit" value=" <%= data.recordset[i].doctor_id %> ">Edit</button>
                </form>
              </td>
              <td>
                <form method="POST" action="/profile/rmv_doctor">
                  <button type="submit" name="dell" value=" <%= data.recordset[i].doctor_id %> " class="btn btn-primary">Remove</button></form>
              </td>


            </tr>
            <% } %>
          </tbody>
        </table>
      </div>


      <script src="../js/jquery-3.3.1.min.js"></script>
      <script src="../js/popper.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../fontawesome-free-5.6.0-web/js/all.js"></script>
      <script src="../js/about.js"></script>
      <script src="../js/wow.min.js"></script>

</body>

</html>